<md-toolbar dir="rtl" id="nav" color="primary">


  <span>
    <md-icon>mood</md-icon>
  </span>
  
  <span class="fill-remaining-space"></span>
  <md-menu #menu="mdMenu">
    <a href="/settings">
      <button md-menu-item> הגדרות </button>
    </a>
  </md-menu>
  <span class="fill-remaining-space"></span>  
  <form class="form">
    <md-form-field class="full-width" *ngIf="show">
      <div class="container-1">
        <input mdInput placeholder="התחל לחפש" aria-label="התחל לחפש" [mdAutocomplete]="auto" id="search">
      </div>

      <md-autocomplete #auto="mdAutocomplete">
        <md-option value="יעכ">
        </md-option>
      </md-autocomplete>
    </md-form-field>
  </form>
  <button md-icon-button style="float:left;" (click)="toggle()">
    <md-icon>search</md-icon>
  </button>

  <button md-icon-button [mdMenuTriggerFor]="menu" style="float:left;position:relative">
    <md-icon>more_vert</md-icon>
  </button>

</md-toolbar>
