<md-grid-list cols="12" gutterSize="5" rowHeight="65px">
  <md-grid-tile [colspan]="12">
    <app-nav style="width:100%;margin-top:-3.5%;"></app-nav>
  </md-grid-tile>

    <md-grid-tile [colspan]="9" [rowspan]="12" style="margin-top:-3.5%;">
      <app-calendar style="width:100%; margin-left:5%;"></app-calendar>
    </md-grid-tile>
    <md-grid-tile [colspan]="1">
    </md-grid-tile>
    <md-grid-tile [colspan]="2" [rowspan]="3" >
        <app-sidebar></app-sidebar>
    </md-grid-tile>
  <md-grid-tile [colspan]="12">
    <app-footer></app-footer>
  </md-grid-tile>
</md-grid-list>
<!-- <md-spinner></md-spinner> -->

