.calendar {
  width: 75%;
  margin-top: 1.5%;
  margin-right: 5%;
  float: right;
}

.sidebar {
  width: 10%;
  margin-right: 2%;
  float: right;
}

.done {
  position: fixed;
  bottom: 10%;
  left: 3%;
  color: white;
}
