<div dir="rtl">

  <div style="font-weight: bolder;margin-right: 43%;">הוספת תורנות</div>
  <form class="addMissionForm" #f="ngForm" (ngSubmit)="onSubmit(f)">

    <td-steps [mode]="'horizontal'" md-dialog-content>

      <td-step #step1 [active]="true" (activated)="activeStep0Event()" [state]="stateStep1" (deactivated)="deactiveStep0Event()"
        [active]="activeStep == 0">
        <ng-template td-step-label>
          <span>בחירת משימה</span>
        </ng-template>
        <ng-template td-step-actions style="height:100%;">
          <div layout="column">
            <div style="margin-top:5%">
              <md-radio-group class="radio-group" [(ngModel)]="type" name="type">
                <md-radio-button class="radio-button" [value]="0">
                  חובה
                </md-radio-button>
                <md-radio-button class="radio-button" [value]="1">
                  קבע
                </md-radio-button>
              </md-radio-group>
            </div>
            <div style="margin-top:5%;">
              <md-select floatPlaceholder="never" placeholder="בחר משימה" [(ngModel)]="selectedMission" name="selectedMission">
                <span *ngFor="let option of options">
                  <md-option *ngIf="option.type == type" value="{{option._id}}">{{option.name}}</md-option>
                </span>
              </md-select>
            </div>
          </div>
        </ng-template>

      </td-step>

      <td-step #step2 label="בחירת מאפיינים" sublabel="" [state]="stateStep2" [active]="activeStep == 1" [class.no-pointer-events]="activeStep === 1"
        (activated)="activeStep1Event()" (deactivated)="deactiveStep1Event()">
        <div>
          <md-form-field>
            <input mdInput [mdDatepicker]="startpicker" placeholder="תאריך התחלה" disabled [(ngModel)]="startDate" name="startDate">
            <md-datepicker-toggle mdSuffix [for]="startpicker"></md-datepicker-toggle>
            <md-datepicker #startpicker></md-datepicker>
          </md-form-field>
        </div>
        <div>
          <md-form-field>
            <input mdInput [mdDatepicker]="endpicker" placeholder="תאריך סיום" [(ngModel)]="endDate" name="endDate">
            <md-datepicker-toggle mdSuffix [for]="endpicker"></md-datepicker-toggle>
            <md-datepicker #endpicker></md-datepicker>
          </md-form-field>
        </div>

        <div>
          <button md-raised-button color="warn" (click)="sendToAddSoldier()">שייך חייל</button>
        </div>

        <md-chip-list class="mat-chip-list-stacked">
            <md-chip *ngFor="let soldier of soldiers"
                selected="true"
                color="primary">
              {{soldier.firstName + " " + soldier.lastName}}
              <md-icon mdChipRemove (click)="remove(soldier)">cancel</md-icon>
            </md-chip>
          </md-chip-list>

      </td-step>

      <td-step #step3 label="שיוך חייל" sublabel="" [state]="stateStep3" [active]="activeStep == 2" [class.no-pointer-events]="activeStep === 2"
        (activated)="activeStep2Event()" (deactivated)="deactiveStep2Event()">
        <md-form-field>
          <input mdInput placeholder="חפש חייל" [mdAutocomplete]="auto" [formControl]="userSearch" (keyup)="filteredUsers = filterUsers(userSearch.value)">
          <md-autocomplete #auto="mdAutocomplete">
            <md-option *ngFor="let user of filteredUsers" [value]="user.userName">
              {{ user.hierarchy.join('/') }}
            </md-option>
          </md-autocomplete>
        </md-form-field>
        <div>
          <button md-raised-button color="primary" (click)="addSoldier()">שייך חייל</button>
        </div>
      </td-step>

    </td-steps>
    <div md-dialog-actions layout="row" layout-align="end end">
      <button md-button color="primary" *ngIf="activeStep < 1" type="button" (click)="nextStep()" id="next">המשך</button>
      <button md-button color="primary" id="send" disabled="true">שמור</button>
      <button md-button color="primary" type="button" (click)="dialogRef.close()" id="cancel">בטל</button>
    </div>
  </form>

</div>
