<div dir="rtl">

  <div style="margin-right:31.5%;font-weight: bolder">הוספת תורנות</div>

  <td-steps [mode]="'horizontal'">

    <td-step #step1 label="בחירת משימה" sublabel="" [active]="true" (activated)="activeStep1Event()" (deactivated)="deactiveStep1Event()">
    </td-step>

    <td-step #step2 label="בחירת מאפיינים" sublabel="" [state]="stateStep2" [disabled]="disabled" disableRipple>
    </td-step>

    <td-step #step3 label="שיוך חייל" sublabel="" [state]="stateStep3" [disabled]="disabled">
    </td-step>

  </td-steps>

</div>
