<div dir="rtl">

  <div style="margin-right:31.5%;font-weight: bolder">הוספת סוג משימה</div>
  <br />
  <br />
  <form class="addMissionTypeForm" #f="ngForm" (ngSubmit)="onSubmit(f)">

    <md-form-field class="full-width">
      <input mdInput placeholder="שם תורנות" id="name" [(ngModel)]="name" name="name" class="full-width" required>
      <md-error *ngIf="(!name && send) || !name">מלא שם</md-error>
    </md-form-field>

    <md-form-field class="full-width">
      <textarea mdInput placeholder="תיאור" id="description" [(ngModel)]="description" name="description" class="full-width" required>
      </textarea>
      <md-error *ngIf="(!description && send) || !description">הכנס תיאור למשימה</md-error>
    </md-form-field>

    <div style="margin-top:5%">
      <md-radio-group class="radio-group" [(ngModel)]="type" name="type" id="type">
        <md-radio-button class="radio-button" [value]="0">
          חובה
        </md-radio-button>
        <md-radio-button class="radio-button" [value]="1">
          קבע
        </md-radio-button>
      </md-radio-group>
      <md-error *ngIf="type === undefined && send">בחר סוג</md-error>      
    </div>

    <div style="float:left;margin-top:12%">
      <button md-raised-button id="send">שמור</button>
      <button md-raised-button id="cancel" type="button" (click)="cancel()">בטל</button>
    </div>
  </form>
</div>
