.addMissionTypeForm {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  direction: rtl;
}

.full-width {
  width: 100%;
  direction: rtl;
}

.radio-group {
  display: inline-flex;
  flex-direction: column;
}

.radio-button {
  margin: 5px;
}
